{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!--  Example of a table with clickable rows: -->
        <h2 class="title">{{genre_name[0].genre_name}} </h2>
        
        <!-- TODO Query (10) -->
        <!-- First check should be a valid instance -->
        <!-- Second check should be what type of genre? -->
        {% if True %}
        <table class="styled">
            {% if genre_type == 'film genre' %}
                <thead>
                    <tr>
                        <td>ID </td>
                        <td>Title</td>
                        <td>Type</td>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                {% if genre_type == 'film genre' %}
                
                    {% for instance in media %}
                        
                    
                        {% if instance.media_type == 'movie' %} 
                            <tr class="clickable-tr" data-href="{{ url_for('single_movie', movie_id=instance.media_id)}}">
                                <td style="text-align: center">{{ instance.media_id }}</td>
                                <td>{{instance.title}}</td>
                                <td>Movie</td>
                            </tr>
                        {% endif %}
                        {% if instance.media_type == 'show' %} 
                            <tr class="clickable-tr" data-href="{{ url_for('single_tvshow', tvshow_id=instance.media_id)}}">
                                <td style="text-align: center">{{ instance.media_id }}</td>
                                <td>{{instance.title}}</td>
                                <td>TV Show</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}


                {% if genre_type == 'song genre' %}
                    {% for instance in media %}
                        <tr class="clickable-tr" data-href="{{ url_for('single_song', song_id=instance.media_id)}}">
                            <td style="text-align: center">{{ instance.media_id }}</td>
                            <td>{{instance.title}}</td>
                            <td>Song</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% if genre_type == 'podcast genre' %}
                    {% for instance in media %}
                        <tr class="clickable-tr" data-href="{{ url_for('single_podcast', podcast_id=instance.media_id)}}">
                            <td style="text-align: center">{{ instance.media_id }}</td>
                            <td>{{instance.title}}</td>
                            <td>Podcast</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
           
        </table>
       
        {% else %}
            <h2 class="title"> Invalid Genre ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
