{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- {{podcastep}} -->
        <!-- TODO Query (7)
        Display All Relevant Podcast Episode Infromation including meta data
        -->
        {% if podcastep | length > 0 %}
            <h2 class="title"> {{podcastep[0].podcast_episode_title}} ({{podcastep[0].podcast_episode_published_date}})</h2>
            <h2>ID: {{podcastep[0].media_id}}</h2>
            <h3>{{podcastep[0].podcast_episode_uri}}</h3>
            <h3>Length: {{podcastep[0].podcast_episode_length}}s</h3>
            <hr/>
            <audio controls class="audio">
                <source src="{{media_playback['storage_location'].storage_location}}" type="audio/mp3" preload="auto">
              Your browser does not support the audio element.
            </audio>
            
            <h3> Artworks </h3>
            {% for instance in podcastep %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image" style="width:500px;height:500px;">
                    <br/>© Amazon Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in podcastep %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <h3> Genres </h3>
            {% for instance in podcastep %}
            
                {% if instance.md_type_name == 'podcast genre' %}
                    <a href="{{url_for('single_genre', genre_id=instance.md_id, genre_type=instance.md_type_name)}}">
                    <td>{{instance.md_value}}</td>
                    </a>
                    <br/>
                {% endif %}
                    
            {% endfor %}
        <!-- TODO - Query (10)
        You will have to modify the above approach slightly to make each genre clickable
        -->
        
        <script>

            //event handlers trigger functions after listening to particular events on an HTML page
            //DOMContentLoaded gets trigger when the webpage content loads up
    
            // () => is an arrow function (will trigger function)
            document.addEventListener('DOMContentLoaded', () => {
    
            document.querySelectorAll('audio').forEach(aud => {
                    if ("{{media_playback['position']}}" != "None") {  
                        aud.currentTime = "{{media_playback['position'].progress}}";
                    }
    
                aud.onpause = () => {
                    const request = new XMLHttpRequest();
                    const id = "{{media_playback['media_id']}}"
                    request.open('POST', "/update_progress/" + id);
                    //define what happens with response data
                    request.onload = () => {
                        console.log("done")
                    };
                    var data = new FormData();
                    data.append('progress', aud.currentTime)
                    request.send(aud.currentTime);
                };
            });
            });
        </script>
        {% else %}
            <h2 class="title"> Invalid Podcast Episode ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
