{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- Check if We have a valid song -->
        {% if song | length > 0 %}
            <h2 class="title"> {{song[0].song_title}} by {{song[0].artists}}</h2>
            <br/>
            Song is {{song[0].length}} seconds long.
            <hr/>
            <h3> Artworks </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image">
                    <br/>© Spotify Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <!-- TODO - Query 10
            You will have to modify the approach below slightly to make each genre clickable
            -->
            <h3> Genres </h3>
            <div>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'song genre' %}
                    <a href="{{url_for('single_genre', genre_id=instance.md_id, genre_type=instance.md_type_name)}}">
                    <td>{{instance.md_value}}</td>
                    </a>
                    <br/>
                {% endif %}
            {% endfor %}
            </div>
            <h3> Audio </h3>

            <audio controls class="audio" id='{{song[0].song_id}}'>
                <source src="{{songLink[0].storage_location}}" type="audio/mp3" preload="auto">
              Your browser does not support the audio element.
              </audio>
              <input type="button" value="sound" onclick="togglePlay()" />

            <script> 
            //event handlers trigger functions after listening to particular events on an HTML page
                //DOMContentLoaded gets trigger when the webpage content loads up
               
                // () => is an arrow function (will trigger function)
                document.addEventListener('DOMContentLoaded', () => {

                    
                   
                    document.querySelectorAll('audio').forEach(aud => {
                     
                            if ('{{song_position}}' != "None") {
                                
                                aud.currentTime = '{{song_position[0].progress}}';
                            }
                        
                       
                    
                        aud.onpause = () => {
                            const request = new XMLHttpRequest();
                            const id = '{{song[0].song_id}}'
                            request.open('POST', "/update_progress/" + id);
                            //define what happens with response data
                            request.onload = () => {
                                console.log("done")
                            };
                            var data = new FormData();
                            data.append('progress', aud.currentTime)
                            request.send(aud.currentTime);
                        };
                    });
                });

            
            </script>
        {% else %}
            <h2 class="title"> Invalid Song ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
